/Ejemplo_01_tinyFPGA/*.bin
/Ejemplo_01_tinyFPGA/*.out
/Ejemplo_01_tinyFPGA/*.dblite
/Ejemplo_01_tinyFPGA/*.asc
/tristate_buffer/*.bin
/tristate_buffer/*.out
/tristate_buffer/*.dblite
/tristate_buffer/*.asc
/tristate_buffer/*.blif
/tristate_buffer/*.vcd
